<section class="hero">
  <h1>Effective Solutions for Your Business</h1>
  <img src="./img/nebo-vecher-noch-mlechnyy-put.jpg" alt="" width="500px">
  <button type="button">Order Service</button>
</section>

<section class="benefits">
  <h2 hidden>about us</h2>
  <ul>
    <li>
      <h3>Strategy</h3>
      <p>
        Our goal is to identify the business problem to walk away with the
        perfect and creative solution.
      </p>
    </li>
    <li>
      <h3>Punctuality</h3>
      <p>
        Bring the key message to the brand's audience for the best price within
        the shortest possible time.
      </p>
    </li>
  </ul>
</section>
